description "Kafka"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

limit nofile 32768 32768

script
	. /home/{{ kafka.user }}/etc/environment
	exec sudo -Hu $USER -g $GROUP \
		KAFKA_HEAP_OPTS="${KAFKA_HEAP_OPTS}" \
		JMX_PORT="${JMX_PORT}" \
		/home/{{ kafka.user }}/kafka/bin/kafka-server-start.sh \
		/home/{{ kafka.user }}/kafka/config/server.properties
end script
